@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500&family=Work+Sans:wght@300;400&display=swap');

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* Test Background as I couldn't stand the harsh white */
    background: rgb(58, 48, 217);
    background: linear-gradient(90deg, rgba(58, 48, 217, 1) 1%, rgba(75, 34, 149, 1) 99%);
}

/* Utility Classes */

.primary_font {
    font-family: "Lobster", sans-serif;
}

.secondary_font {
    font-family: "Montserrat", sans-serif;
}

.white_font {
    color: #fafafa;
}

.light_font {
    font-weight: 300;
}

.medium_light_font {
    font-weight: 400;
}

.medium_font {
    font-weight: 500;
}

.large_text {
    font-size: 1.7rem;
}

.medium_text {
    font-size: 1.5rem;
}

.medium_small_text {
    font-size: 1.25rem;
}

.small_text {
    font-size: 0.85rem;
}

.centered {
    display: flex;
    justify-content: center;
}

.block_divider_thin {
    opacity: 1;
    border: 1px solid white;
    margin: 0;
}

/* Button BGs */

.coral_bg {
    background-color: #ff6450;
}

/* Bootstrap Overrides */

button {
    outline: none;
}


/* Form Text Styling */

.form-control,
.control-group {
    font-family: "Montserrat", sans-serif;
}

.submit_btn {
    background-color: rgba(75, 34, 149, 1);
}

.submit_btn:hover {
    color: #fafafa;
    background-color: rgb(86, 43, 167);
}


/* Modal Forms*/

.modal_form_container {
    background-color: #322643;
}

.modal_form_wrapper {
    background-color: #fdfdfd;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12),
        0 10px 36px -4px rgba(77, 96, 232, .8);
}

.no_underline {
    text-decoration: none;
}

/* Footer */

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    padding: 1.5rem 0;
}

.avatar_container {
    display: flex;
    justify-content: center;
}

.dev_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer .row:nth-child(1) {
    margin-bottom: 1.5rem;
}

footer .row:nth-child(3) {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


     

/* Tablet Devices */
@media screen and (min-width: 768px) {

    /* Utility Classes */

    .large_text {
        font-size: 2.1rem;
    }

    .medium_text {
        font-size: 1.75rem;
    }

    .medium_small_text {
        font-size: 1.25rem;
    }

    .small_text {
        font-size: 0.85rem;
    }

    /* Navbar */

    .navbar-collapse {
        flex-grow: 0;
    }

    .navbar-brand {
        order: 0;
        margin-left: 1rem;
    }

    .navbar-toggler {
        order: 1;
    }

    .nav-link,
    .nav-link:hover {
        margin: 0 1.5rem;
        color: white
    }

    /* Footer */

    .dev_avatar {
        width: 80px;
        height: 80px;
    }
}

/* Start of Larger Screens */
@media screen and (min-width: 992px) {

    .nav-link {
        display: block;
        position: relative;
        padding: 0.2em 0;
    }

    /* Fade in */
    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.05em;
        background-color: #fafafa;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    .nav-link:hover::after,
    .nav-link:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.1em, 0);

}

}