.auth_inner_content,
.auth_container {
    height: 100%;
}

.auth_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form elements */

.auth_form_wrapper {
    /* background-color: #fafafa; */
    width: fit-content;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.control-group {
    margin: 1rem 0;
    font-family: "Montserrat", sans-serif;
}

.control-label {
    margin-left: .35rem;
}

.auth_btn {
    /* TODO: Move background colour to own utility class */
    background-color: #ff6450;
    width: 100%;
}

.auth_message {
    padding-top: 1.25rem;
}

.textInput {
    border-radius: 8px;
    padding: .5rem;
    border: none;
    background-color: #f0f0f0;
    min-width: 100%;
}

.reset_password_link {
    margin: 1rem 0 .5rem 0;
}

/* Tablet screens */
@media screen and (min-width: 768px) {

    /* Form Elements*/
    .textInput {
        min-width: 300px;
    }

    /* Vector Graphic*/

    .auth_vector_wrapper {
        margin-top: 3rem;
    }
}

/* Start of larger screens */
@media screen and (min-width: 992px) {

    /* Form Elements */
    .auth_form_wrapper {
        height: 500px;
        max-height: 630px;
        display: flex;
        align-items: center;
    }
}