{% extends 'base.html' %}



{% block content %}
<div class="overlay"></div>
<div class="container">
	<div class="row py-3 text-center pt-5">
		<div class="col-12">
			<span class="icon pt-5">
				<i class="fas fa-edit fa-3x py-5 mt-5"></i>
			</span>
			<h2 class="display-font text-center pt-3">Edit Post</h2>
			<p class="text-center body-font mx-5 my-3 px-4">Hi, <strong>{{ request.user|upper }}! </strong></p>
			<hr class="my-2">
			<p class="body-font mx-5">Use this tool to edit your Betamind post!</p>
		</div>
	</div>
</div>
<!--edit post container starts here-->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 justify-content-center">
			<div class="card p-5 my-0 mx-auto bg-main text-light body-font">
				<!--edit product form starts here-->
				<form method="POST">
					{% csrf_token %}
                    
					{% for field in form %}
					{{ field | as_crispy_field }}
					{{form.id.as_hidden}}

					{% endfor %}
					<div class="text-right">
						<button>
							<a class="btn btn-dark rounded-0" href="{% url 'blog' %}">Cancel</a>
						</button>
						<button class="btn btn-dark rounded-0" type="submit">Edit Post</button>
					</div>
				</form>
				<!--./end-edit product-form-->
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
{% endblock %}
